.projects {
    margin-top: 10px !important;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 60px;
    grid-row-gap: 30px;
    grid-auto-rows: min-content;
    margin: auto;
    margin-bottom: 50px;
    padding: 0 100px;
    box-sizing: border-box;
    align-items: center;
    justify-items: center;
}

.project {
    margin-bottom: 50px;
    border: 1px solid black;
    border-radius: 1.5em;
}

.article {
    height: 25vw;
    width: 25vw;
    position: relative;
}

.picture {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0;
    line-height: 0;
}

.picture:hover {
    filter: contrast(1.35) brightness(0.45);
}

.picture:hover ~ .project_name {
    color: whitesmoke;
    text-shadow: 0 0 10px burlywood;
}

.project_name:hover ~ picture {
    filter: contrast(1.35) brightness(0.45);
}

/* .project_name:hover {
    color: whitesmoke;
    text-shadow: 0 0 10px burlywood;
} */

.pic {
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
    object-fit: cover;
    border: 0;
    overflow: clip;
    border-radius: 1.5em;
}

.project_name {
    font-size: 3em;
    color: black;
    text-shadow: 0 0 50px black;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    margin: auto !important;
}

@media screen and (max-width: 1200px) {
    .projects {
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
}

@media screen and (max-width: 890px) {
    .projects {
        grid-template-columns: repeat(1,minmax(0,1fr));
    }

    .article {
        height: 80vw;
        width: 80vw;
        position: relative;
    }
}