:root {
  overflow-x: hidden;
}

* {
  font-size: 1rem;
  line-height: 1.5;
}

.ca-building-supply {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 17rem;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: block;
}

a {
  text-decoration: none !important;
}

.logo {
  padding-left: 50px;
}

.logo-pic {
  width: 100px;
}

.logo-pic-footer {
  width: 200px;
}

.nav {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: #939e9e;
}

.nav__menu-bar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}

.nav__menu-bar div {
  width: 40px;
  height: 4px;
  background-color: whitesmoke;
  border-radius: 2px;
}

.nav__menu-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  row-gap: 8vh;
  padding: 24px 16px;
  right: -100%;
  background-color: #939e9e;
  transition: all 0.3s;
  align-items: center;
  overflow-y: hidden;
}

.nav__menu-list.active {
  right: 0;
  overflow-y: hidden
}

.nav__menu-close {
  color: black;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  margin-left: auto;
  padding-right: 10px;
}

.nav__link {
  font-size: 18px;
  position: relative;
  transition: all 0.2s;
  color: black;
}

.nav__link.active,
.nav__link:hover {
  font-weight: 600;
}

.title {
  text-align: center;
  margin-bottom: 50px;
  padding-top: 50px;
  font-weight: 600;
  font-size: 52px;
}

.body {
  margin: auto;
}

.text-content {
  padding: 0 50px 100px 50px;
  margin-left: 150px;
  margin-right: 150px;
}

.contact-us-header {
  margin: 0 15px 50px 15px;
  font-size: 24px;
  text-align: center;
  color: darkgoldenrod;
}

.info-entry {
  display: inline-block;
  padding: 5px 30px 5px 30px;
}

.entry {
  font-size: 24px;
  padding-left: 10px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.input {
  display: block;
  margin-left: 10px;
  border-radius: 0.3rem;
  border-width: thin;
}

textarea {
  resize: none;
  width: 100%;
  height: 300px !important;
}

.contact-us-requirements {
  text-align: center;
}

.contact-us-requirements-span {
  color: orangered;
  font-size: 16px !important;
  display: none;
}

.info-text {
  font-size: 24px;
}

.submit-info {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  width: fit-content;
}

.faq-answer {
  padding-left: 50px;
  font-size: 20px;
}

.hours-of-operation {
  padding-top: 10px;
  padding-bottom: 10px;
  width: fit-content;
}

.day {
  display: block;
  padding-left: 50px;
  padding-bottom: 0.5vh;
  font-weight: 700;
  font-size: 20px;
}

.hour {
  padding-left: 50px;
  text-align: right;
  float: right;
  font-weight: normal;
}

.carousel-control-next-icon {
  background-color: black;
}

.carousel-control-prev-icon {
  background-color: black;
}

.slideshow {
  padding: 0 50px 50px 50px;
  max-width: 85%;
  width: 85%;
  margin: auto;
  border-radius: 1.5em;
}

.carousel-inner {
  border-radius: 1.5em;
}

.services-image {
  display: grid;
  margin: auto;
  width: 50%;
}

.services-article {
  height: 100%;
  position: relative;
}

.canada {
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
  object-fit: contain;
  border: 0;
  overflow: clip;
}

.services-text {
  font-size: 30px;
  color: black;
  text-align: center;
  position: relative;
  bottom: 270px;
  left: 0;
  right: 0;
  height: fit-content;
  margin: auto;
}

.contact-us-button-link {
  width: fit-content;
  position: absolute;
  bottom: 150px;
  left: 0;
  right: 0;
  margin: auto;
}

.contact-us-button:hover {
  filter: contrast(1.35) brightness(0.75);
}

.footer {
  background-color: #939e9e;
  color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 17rem;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
}

.footer>div {
  width: 350px;
  height: 100px;
  text-align: center;
}

.contact-info {
  display: inline-block;
  padding: 20px 0px 5px 20px;
  margin-bottom: 3vh;
}

.footer_contact_us_title {
  color: #2b2b2b;
  font-size: 28px;
  padding-bottom: 10px;
  display: block;
  text-align: left;
  font-weight: 600;
}

.footer_contact_us_info_gen {
  padding-left: 10px;
  display: block;
}

.footer_contact_us_info_row {
  display: flex;
  padding-bottom: 1vh;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 600;
}

.footer_contact_us_links {
  padding-left: 5px;
  text-decoration: underline;
  color: navy;
}

.email {
  text-decoration: none;
}

.footer_company {
  margin: auto;
}

.footer_company-logo {
  /* padding-right: 5vh; re-add when adding developer logo */
  float: right;
  /* remove when adding developer logo */
}

.footer_developer {
  align-self: center;
}

.developer-pic {
  width: 120px;
}

@media screen and (min-width: 760px) and (max-width: 1059px) and (max-height: 700px) {
  .footer_company {
    display: flex !important;
    position: absolute !important;
    top: 50vh !important;
    /* change when adding developer logo */
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
  }

  .logo-pic-footer {
    width: 234.5px !important;
    height: 115px;
  }

  .footer_developer {
    display: flex;
    position: absolute !important;
    top: 67vh !important;
    height: fit-content;
    right: 10% !important;
  }
}

@media screen and (max-height: 500px) {
  .footer_company {
    display: flex !important;
    position: absolute !important;
    top: 60vh !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
  }

  .footer_developer {
    display: flex;
    position: absolute !important;
    top: 67vh !important;
    height: fit-content;
    right: 10% !important;
  }
}

@media screen and (max-width: 335px) {
  .faq-answer {
    padding-left: 0;
  }

  .hours-of-operation {
    padding-top: 0;
    padding-bottom: 20px;
    width: fit-content;
    margin: auto;
  }

  .day {
    display: grid;
    padding: 0;
    padding-bottom: 0.5vh;
    font-weight: 700;
    text-align: center;
  }

  .hour {
    display: block;
    font-weight: normal;
    padding-left: 0px;
    float: none;
    text-align: center;
  }

  .services-text {
    bottom: 115px;
    font-size: 16px;
  }

  .contact-us-button-link {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
  }

  .input {
    margin: auto;
  }

  .footer_contact_us_info_row {
    font-size: 5vw !important;
  }

  .footer_contact_us_links {
    font-size: 3.5vw !important;
  }
}

@media screen and (min-width: 335px) and (max-width: 570px) {
  .faq-answer {
    padding-left: 0;
  }

  .hours-of-operation {
    padding-top: 0;
    padding-bottom: 20px;
    width: 80vw;
  }

  .day {
    display: block;
    padding-left: 0px;
    padding-bottom: 0.5vh;
    font-weight: 700;
  }

  .hour {
    font-weight: normal;
    padding-left: 0px;
  }

  .title {
    margin-bottom: 50px;
  }

  .services-text {
    bottom: 150px;
    font-size: 20px;
  }

  .contact-us-button-link {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
  }

  .contact-us-button {
    font-size: 12px;
  }

  .footer_contact_us_links {
    font-size: 2.5vw;
  }

  .logo-pic-footer {
    width: 175px !important;
    height: 84px;
  }
}

@media screen and (max-width: 768px) {
  .contact-us-article {
    text-align: -webkit-center;
  }

  .footer_contact_us_links {
    font-size: 2.5vw;
  }

  .logo-pic-footer {
    width: 234.5px !important;
    height: 115px;
  }

  .text-content {
    padding: 0 50px 20px 50px;
    margin-left: 150px;
    margin-right: 150px;
  }
}

@media screen and (max-width: 1060px) {
  .text-content {
    margin: auto;
  }

  .services-image {
    width: 80%;
  }

  .content-wrap {
    padding-bottom: 100vh;
  }

  .footer {
    height: 100vh !important;
    display: block;
  }

  .footer>div {
    all: unset;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 40vh;
    /* revert to 33vh after re-adding developer logo */
    text-align: center;
  }

  .footer_contact_us_parent_link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .contact-info {
    display: block !important;
    padding: 0;
  }

  .slideshow {
    max-width: 100%;
    height: 100%;
    width: 100%;
    margin: auto;
    border-radius: 1.5em;
  }

  .footer_contact_us_title {
    height: 10vh;
    font-size: 8vh !important;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: block;
  }

  .footer_contact_us_info_gen {
    display: grid;
    justify-content: center;
    height: fit-content;
    width: 100%;
    margin-bottom: 6vh;
    padding: 5px 0px 0px 0px;
  }

  .footer_contact_us_info_row {
    overflow-wrap: break-word;
    font-size: 3vh;
  }

  .footer_contact_us_links {
    font-size: 2.5vh;
  }

  .footer_company {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    /* height: 33vh; */
  }

  .footer_company-logo {
    padding-right: 0vh;
  }

  /* .logo-pic-footer {
    margin-bottom: 10vh;
    width: 25vh
  } */

  .logo-pic-footer {
    width: 234.5px !important;
    height: 115px;
  }

  .info-text {
    font-size: 24px;
  }

  .footer_developer {
    display: block !important;
    height: 33vh !important;
  }

  .developer-logo {
    text-align: center;
  }

  .developer-pic {
    width: 20vh;
    float: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .info-entry {
    margin: 0;
  }
}

@media screen and (min-width: 1061px) {
  .logo-pic {
    width: 200px;
  }

  .nav__menu-close {
    display: none;
    color: black;
  }

  .nav__menu-list {
    position: inherit;
    flex-direction: row;
    column-gap: 24px;
    align-items: center;
    background-color: transparent;
    top: inherit;
    width: inherit;
    padding-right: 50px;
    right: 0px;
  }

  .nav__link {
    color: black;
  }

  .nav__link::before {
    content: '';
    position: absolute;
    width: 0%;
    bottom: -5px;
    left: 0;
    height: 3px;
    transition: all 0.4s;
    background-color: black;
  }

  .nav__link:hover::before,
  .nav__link.active::before {
    width: 100%;
  }

  .nav__link_footer {
    color: whitesmoke;
  }

  .nav__menu-bar {
    display: none;
  }

  .nav {
    position: inherit;
    background-color: transparent;
  }

  header {
    position: inherit;
  }
}