.company {
  font-size: 60px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(151, 39, 39);
  text-decoration: none;
}

.company:hover {
  text-decoration: none;
  color: rosybrown;
}

.tabs {
  display: inline-flex;
  flex-wrap: wrap;
}

.link {
  padding: 5px;
  background-color: rgb(60, 45, 60);
  border-radius: 10px;
}

.links {
  text-decoration: none;
  color: ghostwhite;
  margin: auto;
  width: 50%;
  white-space: nowrap;
}

.links:hover {
  color: ghostwhite;
}