.home {
    display: block;
}

.products_header {
    margin-top: 50px;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-weight: 700;
    text-align: center;
}

.product_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    margin: auto;
    padding: 0px 20px 0px 20px;
}

.product {
    width: 300px;
    margin: auto;
}
